<div class="jumbotron hide">
<h2>Irish Name Matching</h2>
<p>
This project is to provide a web service that encodes several of these methods
(particularly Soundex,Irish-Soundex, Matheson's-classiification and string-matching)
and produces matches for names between two lists, returning the paired index values
of matching names according to the specified method.
</p>
</div>
<h1>
  <%= link_to "Irish Name Matching", root_path %>
  <small>&beta;</small>
</h1>
<%= form_tag match_path, :multipart => true do %>
  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <%= label_tag 'input1', 'Input 1 (separated by newline)' %>
        <%= text_area_tag 'input1', params[:input1], :class => 'form-control', :rows => 5, :tabindex => 1 %>
      </div>
      <div class="form-group">
        <%= label_tag 'file1', 'Or upload a file' %>
        <%= file_field_tag "file1" %>
        <%= @file_content %>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group">
        <%= label_tag 'input2', 'Input 2 (separated by newline)' %>
        <%= text_area_tag 'input2', params[:input2], :class => 'form-control', :rows => 5, :tabindex => 2 %>
      </div>
      <div class="form-group">
        <%= label_tag 'file2', 'Or upload a file' %>
        <%= file_field_tag "file2" %>
        <%= @file_content %>
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <label>Matching methods</label>
        <% MatchingMethod.descendants.each do |mm| %>
          <div class="checkbox">
            <label>
              <%= check_box_tag 'matching_methods[]', mm, params[:matching_methods] && params[:matching_methods].include?(mm.to_s) %>
              <%= mm %>
            </label>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group">
        <%= label_tag 'threshold' %>
        <%= number_field_tag 'threshold', params[:threshold] || BaseName::DEFAULT_THRESHOLD, :class => 'form-control', :within => 0.0..1.0, :step => 0.01, :tabindex => 3 %>
      </div>
    </div>
  </div>
  <div class="form-group text-center">
    <div class="form-inline">
      <input class="btn btn-primary" type="submit" value="Submit" />
    </div>
  </div>
<% end %>
<% if @matched_names.present? %>
  <% @matched_names.each do |matched_name| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <h4><%= matched_name.name %></h4>
        <p>Soundex: <%= matched_name.soundex %></p>
        <div class="row">
          <% matched_name.to_match_names.each do |tmn| %>
            <div class="col-xs-4">
              <div class="panel panel-default">
                <div class="panel-body">
                  <h4><%= tmn.name %><span class="label label-primary pull-right"><%= tmn.score %></span></h4>
                  <table class="table">
                    <tr>
                      <th>Method</th>
                      <th>Value</th>
                      <th>Score</th>
                    </tr>
                    <% tmn.scores.each do |s| %>
                      <tr>
                        <td><%= s.class.name.titleize %></td>
                        <td><span title="<%= s.label %>"><%= s.value %></span></td>
                        <td><%= s.get_score %></td>
                      </tr>
                    <% end %>
                  </table>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
