<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', :media => 'all' %>
    <%= javascript_include_tag 'application' %>
    <title>Irish Name Matching</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron hide">
        <h2>Irish Name Matching</h2>
        <p>
        This project is to provide a web service that encodes several of these methods
        (particularly Soundex,Irish-Soundex, Matheson's-classiification and string-matching)
        and produces matches for names between two lists, returning the paired index values
        of matching names according to the specified method.
        </p>
      </div>
      <h1>
        <%= link_to "Irish Name Matching", root_path %>
        <small>&beta;</small>
        <%= link_to "Lookup Table Records", lookup_table_records_path, :class => 'btn btn-link pull-right', :style => 'padding-right: 0' %>
      </h1>
      <%= yield %>
    </div>
  </body>
</html>
